/*colors from old aro website
	aro background color #E6E7E7
	aro nav color #58595B
	aro h2 color darker purple #5b58a5*/

/*colors from aro logo
	font color rgb(51,51,153)*/

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/** {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #E6E7E7; 
}

h1 {
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}*/
@media screen and (max-width: 800px) {
	.ARO {
		display: none;
	}
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
	width: 100%;
	height: 12vh;
	position: fixed;
	/*background-color: white;*/
	background-color: transparent;
	z-index: 10;
	/*box-shadow:  0 2px 10px black;*/
}

.logo-nav-container.active {
	background-color: white;
	box-shadow:  0 2px 10px black;
}

.logo-nav-container:hover {
	/*background-color: rgba(0, 0, 0, .40);*/
	box-shadow:  0 2px 10px black;
}

.logo {
	height: 65%;
}

.ARO {
	font-style: italic;
	color: grey;
	font-size: .6em;
	display: none;
}

.videoHeader {
	position: absolute;
	top: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.h1 {
	color: white;
	/*position: absolute;
    top: 20vh;*/
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}

.banner-text {
	color: white;
	/*position: absolute;
    top: 40vh;*/
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.contact {
	display: flex;
   	align-items: center;
   	justify-content: space-around;
	background-color: rgb(51,51,153);
    /*white-space: nowrap;
    margin-top: 10%;
    margin-bottom: 10%;*/
    border-radius: 10px;
    /*padding-left: 5%;
    padding-right: 5%;*/
    color: white;
    width: 30%;	
    height: 10vh;
    margin-top: 5%;
    text-decoration: none;
}

/*nav {
	flex-basis: 30%;
	min-width: 30%;
}*/

/*.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.nav-list li {
	padding-left: 4%;
	font-size: 1.2em;
}
*/
/*.page-card-list {
	list-style: none;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}

.page-card-list li {
	flex-basis: 32%;
}*/