/*.nav-list {
	padding-left: 0;
	width: 50%;
}

.nav-list li {
	list-style: none;
}
*/
/*.contact-form-div {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	width: 50%;
	/*flex-wrap: wrap;*/
	/*margin-top: 5%;
	padding-right: 2%;*/
/*}*/

@media screen and (max-width: 500px) {
	.nav-list-div {
		/*list-style: none;*/
		width: 30%;
		padding-left: 3%;
		padding-right: 3%;
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
		margin-top: 5%;
		/*flex-wrap: wrap;*/
	}

	.nav-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		height: 50%;
	    align-items: center;
	    padding-left: 0;
	}

	.main-li {
		list-style: none;
		flex-basis: 100%;
		min-width: 100%;
		border: 1px solid white;
		display: flex;
	    align-items: center;
	    height: 17%;
	    cursor: pointer;
	    padding-left: 	2%;
	}

	.li:hover {
		background-color: #5b58a5;
	}

	.nav-button {

	}

	.link {
		text-decoration: none;
		color: white;
		width: 100%;
		/*padding-left: 2%;*/
	}

}

@media screen and (min-width: 500px) {
	.nav-list-div {
		/*list-style: none;*/
		width: 50%;
		/*padding-left: 3%;
		padding-right: 3%;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/*margin-top: 5%;*/
		/*flex-wrap: wrap;*/
		height: 100%;
	}

	.nav-list {
		list-style: none;
		display: flex;
		/*flex-wrap: wrap;*/
		/*height: 50%;*/
		justify-content: space-between;
	    align-items: center;
	    padding-left: 0;
	    margin: 0;
	    height: 100%;
	}

	.main-li {
		display: flex;
	    align-items: center;
	    cursor: pointer;
	    height: 100%;
	}

	.nav-button {
		border: none;
		background-color: transparent;
		color: black;
		cursor: pointer;
		font-size: 1.1em;
	}

	.link {
		text-decoration: none;
		color: white;
		width: 100%;
		/*padding-left: 2%;*/
	}
}