.menu-div {
	position: relative;
	z-index: 5;
}

.menu {
    z-index: -1;
	position: absolute;
	/*top: -110%;*/
	/*height: 100%;
	width: 100%;*/
	background-color: #484848;
	/*transition: top 1s;*/
	/*overflow-x: scroll;*/
	/*display: flex;
	flex-direction: column;*/
    color: white;
    /*max-width: 925px;*/
    /*display: none;*/
    /*opacity: 100%;*/
}

/*.empty {
	display: none;
}*/

/*.menu.show-menu {
	display: block;
}
*/
.menuAnimationEnter {
	transform: translateY(-100%);
}
	
.menuAnimationEnterActive {
	transform: translateY(0);
    transition: transform 1000ms;
}

.menuAnimationExit {
	transform: translateY(0);
}

.menuAnimationExitActive {
	transform: translateY(-100%);
    transition: transform 1000ms;
}