	.videoAnimationEnter {
		opacity: .5;
	}
		
	.videoAnimationEnterActive {
		opacity: 1;
	    transition: opacity 5000ms;
	}

	.videoAnimationExit {
		opacity: 1;
	}

	.videoAnimationExitActive {
		opacity: .5;
	    transition: opacity 5000ms;
	}

	.textAnimationEnter {
		opacity: 0;
	}
		
	.textAnimationEnterActive {
		opacity: 1;
	    transition: opacity 1000ms;
	}

	.textAnimationExit {
		opacity: 1;
	}

	.textAnimationExitActive {
		opacity: 0;
	    transition: opacity 1000ms;
	}